@page

@model EEY.DigitalServices.Promotions.Pages.EditPhoneDetailsModel

@{
    ViewData["Title"] = "Επιβεβαίωστε το τηλέφωνο σας";
}

<!--Main-->
<main class="govcy-container govcy-my-2" id="mainContainer">
    <div class="row">
        <div class="govcy-col-9 govcy-order-last">

            <h1>@ViewData["Title"]</h1>

            <form method="post" class="govcy-form">

                <input type="hidden" asp-for="@Model.ApplicantTeacher.IDNumber" />
                <input type="hidden" asp-for="@Model.ApplicantTeacher.Level" />
                <input type="hidden" asp-for="@Model.ApplicantTeacher.FileNumber" />
                <input type="hidden" asp-for="@Model.ApplicantTeacher.LastName" />
                <input type="hidden" asp-for="@Model.ApplicantTeacher.FirstName" />
                <input type="hidden" asp-for="@Model.ApplicantTeacher.DateOfBirth" />
                <input type="hidden" asp-for="@Model.ApplicantTeacher.ServiceCode" />
                <input type="hidden" asp-for="@Model.ApplicantTeacher.SpecialtyCode" />
                <input type="hidden" asp-for="@Model.ApplicantTeacher.Specialty" />
                <input type="hidden" asp-for="@Model.ApplicantTeacher.SpecialtyFull" />
                <input type="hidden" asp-for="@Model.ApplicantTeacher.EMail" />

                <fieldset class="govcy-fieldset">
                    <div class="govcy-form-control" id="phoneRadioControl">
                        <label class="govcy-radio">
                            Το τηλέφωνο που είναι καταχωρημένο στο αρχείο της ΕΕΥ: <b>@Model.TelNumber</b>
                            <input class="govcy-radio-input" value="default" name="phoneRadio" type="radio" checked="checked" data-bs-toggle="collapse" data-bs-target="#customPhone.show" />
                            <span class="govcy-radio-checked"></span>
                        </label>
                        <label class="govcy-radio">
                            Θα ήθελα να καταχωρήσω διαφορετικό τηλέφωνο
                            <input class="govcy-radio-input" value="custom" name="phoneRadio" type="radio" data-bs-toggle="collapse" data-bs-target="#customPhone:not(.show)" />
                            <span class='govcy-radio-checked'></span>
                        </label>

                        <div class="collapse govcy-pl-3 govcy-ml-1" id="customPhone">
                            <div id="customPhone_text" class="@("govcy-form-control govcy-form-control-hint" + (Model.TelNumber=="" ? " govcy-form-control-error" : ""))">
                                <label class="govcy-label" for="@Model.TelNumber">Τηλέφωνο</label>
                                <span id="customPhone_text_error" class="govcy-input-error-msg">@((Model.TelNumber == "" ? "Παρακαλώ περάστε ένα σωστό τηλέφωνο." : ""))</span>
                                <span class="govcy-hint">Καταχωρήστε το τηλέφωνό σας</span>
                                <input type="text" class="@("govcy-text-input" + (Model.TelNumber=="" ? " govcy-text-input-error" : ""))" asp-for="@Model.TelNumber">
                                <span asp-validation-for="@Model.TelNumber"></span>
                            </div>
                        </div>
                    </div>
                </fieldset>

                @*
                <fieldset class="govcy-fieldset">
                <div class="govcy-form-control" id="phoneRadioControl">
                <span id="phoneRadioControl_error" class="govcy-input-error-msg"></span>
                <label class="govcy-radio">Το τηλέφωνο που είναι καταχωρημένο στο αρχείο της ΕΕΥ: <b>@Model.TelNumber</b>
                <input class="govcy-radio-input" value="default" name="phoneRadio" type="radio" checked="checked" data-bs-toggle="collapse" data-bs-target="#phoneN.show" />
                <span class="govcy-radio-checked"></span>
                </label>
                <label class="govcy-radio">Θα ήθελα να καταχωρήσω διαφορετικό τηλέφωνο
                <input class="govcy-radio-input" value="custom" name="phoneRadio" type="radio" data-bs-toggle="collapse" data-bs-target="#phoneN:not(.show)" />
                <span class='govcy-radio-checked'></span>
                </label>
                <div class="collapse govcy-pl-3 govcy-ml-1" id="phoneN">
                <div id="phoneNumIn" class="govcy-form-control govcy-form-control-hint">
                <label class="govcy-label">Τηλέφωνο</label>
                <span id="phoneNumIn_error" class="govcy-input-error-msg"></span>
                <span class="govcy-hint">Θα χρησιμοποιηθεί μόνο για τους σκοπούς αυτής της αίτησης</span>
                <input type="text" class="govcy-text-input govcy-text-input-char_10" name="phoneNum" asp-for="@Model.TelNumber" />
                </div>
                </div>
                </div>
                </fieldset>
                *@
                <div>
                    <input type="submit" value="Αποθήκευση" class="btn govcy-btn-secondary" />
                </div>

            </form>

        </div>

    </div>
</main>


