@page

@using Newtonsoft.Json
@using EEY.DigitalServices.Data

@model EEY.DigitalServices.Promotions.Pages.QualificationsModel

@{
    ViewData["Title"] = "Ενημερώστε τα ακαδημαϊκά σας προσόντα";
}

<!--Main-->
<main class="govcy-container govcy-my-2" id="mainContainer">
    <div class="row">
        <div class="govcy-col-9 govcy-order-last">

            <h1>@ViewData["Title"]</h1>

            <p>Μπορείτε να προσθέσετε νέα ακαδημαϊκά προσόντα.  Μπορείτε να διορθώσετε τα προσόντα που έχετε δηλώσει σε προηγούμενη αίτηση σας.</p>

            @{
                int i = 1;
            }

            <div class="govcy-table-responsive">
                <table class="govcy-table">
                    @foreach (PromotionApplicationQualification qualification in Model.TeacherQualifications)
                    {
                        string titleTagID = "title" + i;
                        string institutiionTagID = "institution" + i;
                        string countryTagID = "country" + i;
                        string yearToTagID = "yearTo" + i;
                        string actionTagID = "action" + i;

                        <tr>
                            <td><b>@i</b></td>
                            <td>
                                <b>Τίτλος Σπουδών:</b>
                                <br>
                                <b>Ίδρυμα:</b>
                                <br>
                                <b>Χώρα:</b>
                                <br>
                                <b>Έτος απόκτησης:</b>
                            </td>
                            <td>
                                <span id=@titleTagID>@qualification.Title</span>
                                <br>
                                <span id=@institutiionTagID>@qualification.Institution</span>
                                <br>
                                <span id=@countryTagID>@qualification.Country</span>
                                <br>
                                <span id=@yearToTagID>@qualification.ToYear</span>
                            </td>
                            <td>
                                <form id=@actionTagID method="post" class="govcy-form" asp-page-handler="AddEditQualification">
                                    @{
                                        Model.QualificationKey = qualification.AutoKey;
                                    }
                                    <input type="hidden" asp-for="@Model.QualificationKey" />
                                    <div class="govcy-mb-4">
                                        <a href="#" onclick=document.getElementById("@actionTagID").submit();>Αλλαγή</a>
                                    </div>
                                </form>
                            </td>
                        </tr>
                        i++;
                    }
                </table>
            </div>

            <form method="post" class="govcy-form" asp-page-handler="AddEditQualification">
                @{
                    Model.QualificationKey = 0;
                }
                <input type="hidden" asp-for="@Model.QualificationKey" />
                <div>
                    <input type="submit" value="Προσθήκη Νέου" class="btn govcy-btn-secondary" />
                </div>
            </form>

            <br>

            <form method="post" class="govcy-form" asp-page-handler="NextPage">
                <div>
                    <input type="submit" value="Επόμενο" class="btn govcy-btn-primary" />
                </div>
            </form>

        </div>

    </div>
</main>
